[Unit] 
Description= Spoti server

[Service] 
Type= simple 
ExecStart= /home/pi/Developer/spoti-alarm-server/virtualenv/bin/python server.py
WorkingDirectory= /home/pi/Developer/spoti-alarm-server
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
