[Unit]
Description= Spotify Alarm Clock server

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/Developer/spotify-alarm-clock/virtualenv/bin/python /home/pi/Developer/spotify-alarm-clock/server.py
WorkingDirectory=/home/pi/Developer/spotify-alarm-clock
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
