[Unit] 
Description= Spoti server

[Service] 
Type= simple 
ExecStart= /usr/bin/python3 server.py
WorkingDirectory= /home/pi/Developer/spoti-alarm-server

[Install]
WantedBy=multi-user.target
